

nav{
		display:flex;
		text-align:center
}
nav>.logo{
		flex:auto;
		background-color:#ffcccc;
		
}
nav>.menu{/*flex:none沒有彈性固定尺寸，flex:auto盡量把容器空間張滿，隨著畫面調整*/
		flex:auto;
		background-color:#ccccff;
		
}
nav>.user{
		flex:auto;
		background-color:#ccffcc;
		
}

/*main 樣式設定*/
main{/*容器*/
	display:flex;
	justify-content:center;/*水平調整，置左為flex-start、靠右為flex-end*/
	align-items:stretch;
	/*垂直調整，置上為flex-start、置下為flex-end、置中為center，
	stretch為延展，每一欄會同樣的高度*/
	background-color:#cccccc;
	
	}

main>.item{/*項目felx:none 代表不能彈性縮放*/
	flex:auto;
	margin:10px;width:300px;
	text-align:center;
	background-color:#ffcccc;}
	
/*要達成並攔(擺在同一列)，就是用flex ，在此例子中要將MAIN裡面的三個div.ITEM切欄位
，所以MAIN以及Main>.item 裡面都寫一個flex*/
/*並且flex:none或是auto可以調整欄的寬度,none為固定尺寸，所以要多寫width來定寬度
auto則是可以自己隨畫面大小調整。*/